* {
    box-sizing: border-box; 
}
/*=======================================containers=================*/
.box {
    width: 100%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    background: darkgrey;
}
.container {
    padding-left: 1em;
    padding-right: 1em;
}
.main-header {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background: whitesmoke;
    margin-bottom: 0;
}
.main-body {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    background: white;
}
.main-footer {    
    text-align: center;
    padding-top: 0;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 0;
    background: whitesmoke;
}
/*============================================end of containers*/

/*======= styles =========*/
body {
    font-family: 'Shadows Into Light', serif;
    background: darkgray;
}
h1 {
    text-align: center;
    padding: 0;
    margin-top: 3px;
}
h2 {
    text-align: center;
    margin-top: 0;
}
h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 30px 0;
    margin: 0;
    color: black;
    font-weight: bold;
}
p {
    text-align: center;
    font-size: 1.1rem;
    padding: 1.5em 1.5em 1em 1.5em;
    margin-bottom: 1.5em;
}
a {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: green;
}
ul,
ol {
    list-style-type: none;
}
/*==================== images========================= */
.img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 95%;
}
.profile-img {
    width: 75%;
}

/*=============================== navigation=============*/
.main-nav li {
    display: block;
	text-align: center;
    background: white;
    margin-top: 6px;
	margin-bottom: 6px;
}
.student-name {
    display: block;
    margin: auto;
}

.main-nav a {
	font-size: 1.1em;
	text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}
/*=============================footer details=================*/
.contact-info li {
    line-height: 1.7em;
}
.contact-info a {
    font-size: 1.1em;
	font-weight: bold;
}
.footer-nav {
    border-top: 2px solid grey;
    margin-bottom: 30px;
}
.footer-nav li {
    display: inline-block;
    padding: 0 10px;
    margin: 10px 30px;
}
#footer-contact,
#home,
#port {
    display: none;
}
footer {
    position: relative
}
#name {
    position: absolute;
    bottom: 25%;
    left: 10%;
}
#top {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
/*===========================================*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* ================================= Media Queries================

@media (min-width: 769px) {

	
	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}
.name {
  width: 240px;
 
}
*/


@media (min-width: 769px) {

.box {
    width: 90%;
    margin: 0 auto;
    padding: 10px;

}    
.main-header,
.main-nav li {
    display: inline-block;
}
.profile-img {
    float: right;
    width: 35%;
    margin: 10px;
}
.intro {
    font-size: 1.4em;
    color: red;
    padding-top: 15px;
}
/*========================== columns=====================*/
.col {
    width: 50%;
    margin: 0;
    float: left;
}
.img {
    width: 300px;
    float: left;
    margin: 1em 1em 1em 0;
    }
.caption {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 275px;
}
 h2 {
    margin-bottom: 5px;
    margin-top: 5px;   
    text-align: center; 
    color: red;
    padding: 0;
 }   
/*===============================footer=============*/
h3 {
    margin: 0;
    padding: 15px 0 5px 0;
}
.contact {
    margin-top: 0;
}

#top {
    display: none;
}

/*left off here!!!!!!!!!!!!!!!!!!!!!!!!======================
#footer-contact,
#home,
#port {
    display: inline;
    margin: 10px;
    padding: 5px;
    background: yellow;
    

    position: absolute;
    bottom: 25%;
    right: 10%;
}
*/
/*
.footer-nav li {
    display: inline-block;
    padding: 0 10px;
    margin: 10px 30px;
}
footer {
    position: relative
}
#name {
    position: absolute;
    bottom: 25%;
    left: 10%;
}
#top {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.footer-nav li {
    display: inline-block;
    padding: 0 10px;
    margin: 10px 30px;
}
*/

/*

  desktop
  .main-nav {
    float: right;
  }
  
  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .tagline {
    font-size: 1.4em;
  }
  
  */
  
}
