

/*    get the normalize rules, box sizing   */

* {
    box-sizing: border-box; /*not sure if i am using this right?*/
}

/*typography*/
h1 {
    text-align: center;
    padding: 0;
    margin: 10px o;
}
h2 {
    text-align: center;
}
h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
}
p {
    text-align: center;
    font-size: 1.1rem;
    padding: 0 15px 10px 15px;
}
ul {
    display: block;
    margin: auto;
    padding: 0;
    list-style: none;
    border: 2px solid pink;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.img {
    display: block;
    margin: auto;
    width: 95%;
}
/*containers*/
body {
    font-family: 'Shadows Into Light', serif;
    background: darkgray;
    width: 95%;
    margin: auto;
    padding: 0;
    border: 2px solid orange;
}
.header-container {
    background: whitesmoke;
    width: 95%;
    margin: auto;
    padding: 5px;
    border: 2px solid red;
}
.main-container {
    background: white;
    width: 95%;
    margin: auto;
    padding: 5px;
    border: 2px solid blue;
}
.footer-container {    
    background: whitesmoke;
    width: 95%;
    margin: auto;
    padding: 5px;
    border: 2px solid purple;
}
/*end of containers*/
.main-header {
    background: whitesmoke;
    padding: 5px;
    margin: auto;
    width: 95%;
}
.main-header li {
    display: block;
    float: left;
    width: 100%;
    background: white;
    padding: 10px;
    margin: 3px;
    font-weight: bold;  

}
/*.main-nav {
    display: block;
    margin: auto;
    border: 2px solid blue;
    height: 100%;
}
*/
.footer-nav {
    border-top: 2px solid grey;
}
.footer-nav li {
    display: block;
    float: left;
    padding: 10px;
    margin: 0 30px 0 30px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }